flask
flask_sqlalchemy
flask_migrate
flask_restful
flask_marshmallow
marshmallow_sqlalchemy
flask_wtf
flask_debugtoolbar
flask-login
Flask-Social
Flask-Security
gunicorn
Flask-Dance
-e git+https://github.com/mobolic/facebook-sdk.git#egg=facebook-sdk
