pip install flask
pip install flask_sqlalchemy
pip install flask_migrate
pip install flask_restful
pip install flask_marshmallow
pip install marshmallow_sqlalchemy
pip install flask_wtf
pip install flask_debugtoolbar
pip install flask-login
pip install Flask-Social
pip install Flask-Security
pip install http://github.com/pythonforfacebook/facebook-sdk/tarball/master
