<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Change Password Page</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/sam.styles.min.css') }}">
</head>

<body>
    <div class="login-clean">
        <h1 class="sr-only">Sign In</h1>
        <form action="" method="post" novalidate style="text-align: center;" class="form-group">
            {{ form.hidden_tag() }}
            <div class="illustration"><i class="icon ion-android-person"></i></div>
            <p>
                {{ form.old_password.label }}<br>
                {{ form.old_password(class_="form-group") }}<br>
                {% for error in form.old_password.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.password.label }}<br>
                {{ form.password(class_="form-group") }}<br>
                {% for error in form.password.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.password2.label }}<br>
                {{ form.password2(class_="form-group") }}<br>
                {% for error in form.password2.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>{{ form.submit(class_="btn btn-primary btn-block") }}</p>

        </form>
        
    </div>
</body>

</html>