{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/menu.styles.min.css') }}">
{% endblock %}

{% block content %}
<main>
    <div class="container-fluid text-center">
        <div class="row">
            <div class="col" style="border: 10px;">
                <h1 class="text-center" style="padding: 20px;">Our Menu</h1>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h1 class="text-center"
                    style="color: #7ea978;padding: 20px;border-bottom: 1px solid;border-top: 1px solid;">Soups</h1>
            </div>
        </div>
        <div class="row text-left d-flex d-sm-flex justify-content-center justify-content-sm-center"
            style="padding-top: 20px;">
            <div class="col-9 col-sm-7 col-md-4 col-xl-3 offset-0 offset-sm-0" data-style="padding-bottom: 15px;"
                onclick="toggleModal()"><img class="img-fluid"
                    src="{{ url_for('static', filename=food[0].picturePath) }}">
                <h4 class="text-break text-left"
                    style="font-size: 25px;font-family: 'Noto Serif KR', serif;padding-top: 15px;">
                    {{ food[0].name }}</h4>
                <p class="text-left" style="font-family: 'Noto Serif KR', serif;">{{ food[0].withInformation }}</p>
                <img class="d-md-flex justify-content-md-start"
                    src="{{ url_for('static', filename=food[0].iconPath) }}">
            </div>
            <div class="modal fade" id="chunky_soup_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header flex-fill">
                            <h4 class="modal-title" style="font-family: 'Noto Serif KR', serif;">Thai Coconut Chicken Soup</h4></div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col">
                                    <p class="text-left" style="font-family: 'Noto Serif KR', serif;">with Lemon Grass and Ginger</p>
                                </div>
                            </div>
                            <div class="row" style="font-size: auto;">
                                <div class="col"><img class="img-fluid" src="{{ url_for('static', filename='img/menuPage/chunckysoup.jpg') }}"/></div>
                                    <div class="col">
                                        <h3 class="text-left" style="font-family: 'Noto Serif KR', serif;">Ingredients</h3>
                                            <p class="text-left">Free Range Chicken<br />Natural Chicken Stock<br />Shiitake Mushrooms<br />Leeks<br />Carrots<br />Garlic<br />Ginger Lemongrass<br />Lime Juice<br />Coconut Milk<br />Kafir Leaf<br /></p>
                                    </div>
                                </div>
                            <div class="row d-lg-flex justify-content-lg-center">
                                <div class="col-lg-10 col-xl-11 offset-lg-0 offset-xl-0 text-left d-lg-flex"><img src="{{ url_for('static', filename='img/menuPage/GF.png') }}" /></div>
                            </div>
                        </div>
                        <div class="modal-footer"><button class="btn btn-light" data-dismiss="modal" type="button">Cancel</button><input class="input-number" id="quantity_chunky" style="text-align: center;" type="number" value="1" min="1" max="10"><button class="btn btn-primary" id="chunky_soup_button" style="background-color: #bdecb6;" type="button">Add to Cart</button></div>
                    </div>
                </div>
            </div>
            <div class="col-9 col-sm-7 col-md-4 col-xl-3 offset-0 offset-sm-0" style="padding-bottom: 15px;"><img
                    class="img-fluid" src="{{ url_for('static', filename=food[1].picturePath) }}">
                <h4 class="text-left"
                    style="font-size: 25px;font-family: 'Noto Serif KR', serif;padding-top: 15px;">
                    {{ food[1].name }}</h4>
                <p class="text-left" style="font-family: 'Noto Serif KR', serif;">{{ food[1].withInformation }}</p>
                <img class="d-md-flex justify-content-md-start"
                    src="{{ url_for('static', filename=food[1].iconPath) }}">
            </div>
            <div class="col-9 col-sm-7 col-md-4 col-xl-3 offset-0 offset-sm-0" style="padding-bottom: 15px;"><img
                    class="img-fluid" src="{{ url_for('static', filename=food[2].picturePath) }}">
                <h4 class="text-left"
                    style="font-size: 23px;font-family: 'Noto Serif KR', serif;padding-top: 15px;">
                    {{ food[2].name }}</h4>
                <p class="text-left" style="font-family: 'Noto Serif KR', serif;">{{ food[2].withInformation }}</p>
                <img class="d-md-flex justify-content-md-start"
                    src="{{ url_for('static', filename=food[2].iconPath) }}">
            </div>
        </div>
        <div class="row">
            <div class="col" style="padding-top: 20px;">
                <h1 class="text-center"
                    style="padding: 20px;color: #7ea978;border-bottom: 1px solid;border-top: 1px solid;">Salads</h1>
            </div>
        </div>
        <div class="row text-center d-flex d-sm-flex justify-content-center justify-content-sm-center"
            style="padding-top: 20px;">
            <div class="col-9 col-sm-7 col-md-5 col-lg-4 col-xl-3 offset-0 offset-sm-0 offset-md-0"
                style="padding-bottom: 15px;"><img class="img-fluid"
                    src="{{ url_for('static', filename=food[3].picturePath) }}">
                <h4 class="text-left" style="font-family: 'Noto Serif KR', serif;padding-top: 15px;">
                    {{ food[3].name }}</h4>
                <p class="text-left" style="font-family: 'Noto Serif KR', serif;">{{ food[3].withInformation }}</p>
                <img class="d-flex d-sm-flex d-md-flex d-lg-flex d-xl-flex justify-content-start justify-content-sm-start justify-content-md-start justify-content-lg-start justify-content-xl-start"
                    src="{{ url_for('static', filename=food[3].iconPath) }}">
            </div>
            <div class="col-9 col-sm-7 col-md-5 col-lg-4 col-xl-3 offset-0 offset-sm-0 offset-md-1 offset-lg-1 offset-xl-2"
                style="padding-bottom: 15px;"><img class="img-fluid"
                    src="{{ url_for('static', filename=food[4].picturePath) }}">
                <h4 class="text-left" style="font-family: 'Noto Serif KR', serif;padding-top: 15px;">
                    {{ food[4].name }}</h4>
                <p class="text-left" style="font-family: 'Noto Serif KR', serif;">{{ food[4].withInformation }}</p>
                <img class="d-flex d-sm-flex d-md-flex d-lg-flex d-xl-flex justify-content-start justify-content-sm-start justify-content-md-start justify-content-lg-start justify-content-xl-start"
                    src="{{ url_for('static', filename=food[4].iconPath) }}">
            </div>
        </div>
        <div class="row">
            <div class="col" style="padding-top: 20px;">
                <h1 class="text-center bg-light"
                    style="color: #7ea978;padding: 20px;border-bottom: 1px solid;border-top: 1px solid;">Entrees
                </h1>
                <div class="row text-center d-flex d-sm-flex justify-content-center justify-content-sm-center"
                    style="padding-top: 20px;">
                    <div class="col-9 col-sm-8 col-md-4 col-xl-3 offset-0 offset-sm-0" data-toggle="modal"
                        data-target="test" style="padding-bottom: 15px;"><img class="img-fluid"
                            src="{{ url_for('static', filename=food[6].picturePath) }}">
                        <h4 class="text-left" style="font-family: 'Noto Serif KR', serif;padding-top: 15px;">
                            {{ food[6].name }}</h4>
                        <p class="text-left" style="font-family: 'Noto Serif KR', serif;">
                            {{ food[6].withInformation }}</p><img
                            class="d-flex d-sm-flex d-md-flex d-lg-flex d-xl-flex justify-content-start justify-content-sm-start justify-content-md-start justify-content-lg-start justify-content-xl-start"
                            src="{{ url_for('static', filename=food[6].iconPath) }}">
                    </div>
                    <div class="col-9 col-sm-7 col-md-4 col-lg-4 col-xl-3 offset-0 offset-sm-0"
                        style="padding-bottom: 15px;"><img class="img-fluid"
                            src="{{ url_for('static', filename=food[7].picturePath) }}">
                        <h4 class="text-left" style="font-family: 'Noto Serif KR', serif;padding-top: 15px;">
                            {{ food[7].name }};</h4>
                        <p class="text-left" style="font-family: 'Noto Serif KR', serif;">
                            {{ food[7].withInformation }}</p><img
                            class="d-flex d-sm-flex d-md-flex d-lg-flex d-xl-flex justify-content-start justify-content-sm-start justify-content-md-start justify-content-lg-start justify-content-xl-start"
                            src="{{ url_for('static', filename=food[7].iconPath) }}">
                    </div>
                    <div class="col-9 col-sm-8 col-md-4 col-xl-3 offset-0 offset-sm-0"
                        style="padding-bottom: 15px;"><img class="img-fluid"
                            src="{{ url_for('static', filename=food[8].picturePath) }}">
                        <h4 class="text-left" style="font-family: 'Noto Serif KR', serif;padding-top: 15px;">
                            {{ food[8].name }}</h4>
                        <p class="text-left" style="font-family: 'Noto Serif KR', serif;">
                            {{ food[8].withInformation }}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col" style="padding-top: 20px;">
                <h1 class="text-center"
                    style="padding: 20px;color: #7ea978;border-bottom: 1px solid;border-top: 1px solid;">Boxes</h1>
            </div>
        </div>
        <div class="row text-center d-flex d-sm-flex justify-content-center justify-content-sm-center"
            style="padding-top: 20px;">
            <div class="col-9 col-sm-8 col-md-4 col-lg-4 col-xl-3 offset-0 offset-sm-0"
                style="padding-bottom: 15px;"><img class="img-fluid"
                    src="{{ url_for('static', filename=food[10].picturePath) }}">
                <h4 class="text-left" style="font-family: 'Noto Serif KR', serif;padding-top: 15px;">
                    {{ food[10].name }}</h4>
                <p class="text-left" style="font-family: 'Noto Serif KR', serif;">{{ food[10].withInformation }}</p>
                <img class="d-flex d-sm-flex d-md-flex d-lg-flex d-xl-flex justify-content-start justify-content-sm-start justify-content-md-start justify-content-lg-start justify-content-xl-start"
                    src="{{ url_for('static', filename=food[10].iconPath) }}">
            </div>
            <div class="col-9 col-sm-8 col-md-4 col-xl-3 offset-0 offset-sm-0" style="padding-bottom: 15px;"><img
                    class="img-fluid" src="{{ url_for('static', filename=food[11].picturePath) }}">
                <h4 class="text-left" style="font-family: 'Noto Serif KR', serif;padding-top: 15px;">
                    {{ food[11].name }}</h4>
                <p class="text-left" style="font-family: 'Noto Serif KR', serif;">{{ food[11].withInformation }}</p>
                <img class="d-flex d-sm-flex d-md-flex d-lg-flex d-xl-flex justify-content-start justify-content-sm-start justify-content-md-start justify-content-lg-start justify-content-xl-start"
                    src="{{ url_for('static', filename=food[11].iconPath) }}">
            </div>
            <div class="col-9 col-sm-8 col-md-4 col-xl-3 offset-0 offset-sm-0" style="padding-bottom: 15px;"><img
                    class="img-fluid" src="{{ url_for('static', filename=food[12].picturePath) }}">
                <h4 class="text-left" style="font-family: 'Noto Serif KR', serif;padding-top: 15px;">
                    {{ food[12].name }}</h4>
                <p class="text-left" style="font-family: 'Noto Serif KR', serif;">{{ food[12].withInformation }}</p>
                <img class="d-flex d-sm-flex d-md-flex d-lg-flex d-xl-flex justify-content-start justify-content-sm-start justify-content-md-start justify-content-lg-start justify-content-xl-start"
                    src="{{ url_for('static', filename=food[12].iconPath) }}">
            </div>
        </div>
        <div class="row">
            <div class="col" style="padding-top: 20px;">
                <h1 class="text-center"
                    style="padding: 20px;border-top: 1px solid;color: #7ea978;border-bottom: 1px solid;">Sweets</h1>
            </div>
        </div>
        <div class="row text-center d-flex d-sm-flex justify-content-center justify-content-sm-center"
            style="padding-top: 20px;">
            <div class="col-9 col-sm-8 col-md-4 col-lg-4 col-xl-3 offset-0 offset-sm-0"
                style="padding-bottom: 15px;"><img class="img-fluid"
                    src="{{ url_for('static', filename=food[14].picturePath) }}">
                <h4 class="text-left flex-shrink-1 flex-nowrap"
                    style="font-family: 'Noto Serif KR', serif;padding-top: 15px;padding-bottom: 5px;">
                    {{ food[14].name }}</h4><img
                    class="d-flex d-sm-flex d-md-flex d-lg-flex d-xl-flex justify-content-start justify-content-sm-start justify-content-md-start justify-content-lg-start justify-content-xl-start"
                    src="{{ url_for('static', filename=food[14].iconPath) }}">
            </div>
            <div class="col-9 col-sm-8 col-md-4 col-xl-3 offset-0 offset-sm-0" style="padding-bottom: 15px;"><img
                    class="img-fluid" src="{{ url_for('static', filename=food[15].picturePath) }}">
                <h4 class="text-left d-flex"
                    style="font-size: 24px;font-family: 'Noto Serif KR', serif;padding-top: 15px;">
                    {{ food[15].name }}</h4><img
                    class="d-flex d-sm-flex d-md-flex d-lg-flex d-xl-flex justify-content-start justify-content-sm-start justify-content-md-start justify-content-lg-start justify-content-xl-start"
                    src="{{ url_for('static', filename=food[15].iconPath) }}">
            </div>
            <div class="col-9 col-sm-8 col-md-4 col-xl-3 offset-0 offset-sm-0" style="padding-bottom: 15px;"><img
                    class="img-fluid" src="{{ url_for('static', filename=food[16].picturePath) }}">
                <h4 class="text-left flex-shrink-1 flex-nowrap"
                    style="font-family: 'Noto Serif KR', serif;padding-top: 15px;padding-bottom: 5px;">
                    {{ food[16].name }}</h4><img
                    class="d-flex d-sm-flex d-md-flex d-lg-flex d-xl-flex justify-content-start justify-content-sm-start justify-content-md-start justify-content-lg-start justify-content-xl-start"
                    src="{{ url_for('static', filename=food[16].iconPath) }}">
            </div>
        </div>
        <div class="row">
            <div class="col" style="padding-top: 20px;">
                <h1 class="text-center"
                    style="padding: 20px;color: #7ea978;border-bottom: 1px solid;border-top: 1px solid;">Beverages
                </h1>
            </div>
        </div>
        <div class="row d-flex justify-content-center" style="padding-top: 20px;">
            <div class="col-9 col-sm-8 col-md-3" style="padding-bottom: 15px;"><img class="img-fluid"
                    src="{{ url_for('static', filename=food[18].picturePath) }}">
                <h4 class="text-left"
                    style="font-family: 'Noto Serif KR', serif;padding-top: 15px;padding-bottom: 5px;">
                    {{ food[18].name }}</h4>
            </div>
            <div class="col-9 col-sm-8 col-md-3 col-xl-3" style="padding-bottom: 15px;"><img class="img-fluid"
                    src="{{ url_for('static', filename=food[19].picturePath) }}">
                <h4 class="text-left"
                    style="font-family: 'Noto Serif KR', serif;padding-top: 15px;padding-bottom: 5px;">
                    {{ food[19].name }}</h4>
            </div>
            <div class="col-9 col-sm-8 col-md-3" style="padding-bottom: 15px;"><img class="img-fluid"
                    src="{{ url_for('static', filename=food[20].picturePath) }}">
                <h4 class="text-left"
                    style="font-family: 'Noto Serif KR', serif;padding-top: 15px;padding-bottom: 5px;">
                    {{ food[20].name }}</h4>
            </div>
            <div class="col-9 col-sm-8 col-md-3" style="padding-bottom: 15px;"><img class="img-fluid"
                    src="{{ url_for('static', filename=food[21].picturePath) }}">
                <h4 class="text-left"
                    style="font-family: 'Noto Serif KR', serif;padding-top: 15px;padding-bottom: 5px;">
                    {{ food[21].name }}</h4>
            </div>
        </div>
        <div class="row">
            <div class="col" style="padding-top: 20px;">
                <h1 class="text-center"
                    style="padding: 20px;color: #7ea978;border-bottom: 1px solid;border-top: 1px solid;">Elixirs
                </h1>
            </div>
        </div>
        <div class="row text-center d-flex d-sm-flex justify-content-center justify-content-sm-center"
            style="padding-top: 20px;padding-bottom: 20px;">
            <div class="col-9 col-sm-8 col-md-4 col-lg-4 col-xl-3 offset-0 offset-sm-0"
                style="padding-bottom: 15px;"><img class="img-fluid"
                    src="{{ url_for('static', filename=food[22].picturePath) }}">
                <h4 class="text-left"
                    style="font-family: 'Noto Serif KR', serif;padding-top: 15px;padding-bottom: 5px;">
                    {{ food[22].name }}</h4>
            </div>
            <div class="col-9 col-sm-8 col-md-4 col-xl-3 offset-0 offset-sm-0" style="padding-bottom: 15px;"><img
                    class="img-fluid" src="{{ url_for('static', filename=food[23].picturePath) }}">
                <h4 class="text-left"
                    style="font-family: 'Noto Serif KR', serif;padding-top: 15px;padding-bottom: 5px;">
                    {{ food[23].name }}</h4>
            </div>
            <div class="col-9 col-sm-8 col-md-4 col-xl-3 offset-0 offset-sm-0" style="padding-bottom: 15px;"><img
                    class="img-fluid" src="{{ url_for('static', filename=food[24].picturePath) }}">
                <h4 class="text-left d-xl-flex"
                    style="font-family: 'Noto Serif KR', serif;padding-top: 15px;padding: 5px;">{{ food[24].name }}
                </h4>
            </div>
        </div>
    </div>
</main>
{% endblock %}

{% block js %}
<script src="{{ url_for('static', filename='js/connect.js') }}"></script>
{% endblock %}