{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/orders.styles.min.css') }}">
{% endblock %}

{% block content %}
<main>
    <div class="container" style="font-family: 'Noto Serif KR', serif; padding-bottom:50px;">
        <div class="row">
            <div class="col" style="border: 10px;">
                <h1 class="text-center" style="padding: 20px;">{{ user.first_name }}'s Previous Orders</h1>
            </div>


            <div class="container" style="font-family: 'Noto Serif KR', serif; padding-bottom:50px;">
                <div class="row">



            <div class="col" style="background-color: white;">
                <div class="row">
                    <!-- <div class="col-md-12"> -->
                        <!-- <h1 style="color: #7ea978;">Orders</h1> -->
                    <!-- </div> -->
                </div>
                {% if orders|length == 0 %}
                <div class="row d-flex d-sm-flex d-xl-flex">
                    <div class="col">
                        <h2 style="color: black; text-align: center; padding-top: 40px">Empty</h2>
                    </div>
                </div>
                {% else %}
                {% for i in range(orders|length) %}
                <div class="row d-flex d-sm-flex d-xl-flex justify-content-center align-items-center justify-content-sm-center align-items-sm-center justify-content-xl-center align-items-xl-center">
                    <div class="col d-xl-flex justify-content-xl-center align-items-xl-center"><img class="img-fluid" src="{{ url_for('static', filename='/img/menuPage/chunckySoup.jpg') }}"></div>
                    <div class="col-3 col-sm-3">
                        <h6 class="d-sm-flex justify-content-sm-start align-items-sm-start"></h6>
                        <h6>{{ orders[i].id }}</h6><a href="#" style="font-size: 13px;">View Details</a></div>
                    
                    <div class="col">
                        
                    </div>
                    
                </div>

                {% endfor %}
                {% endif %}
            </div>

            </div>
            </div>


        </div>
</main>
{% endblock %}

{% block js %}
<script src="{{ url_for('static', filename='js/connect.js') }}"></script>
{% endblock %}